<!-- Enlace al archivo de estilos específico del footer -->
<link rel="stylesheet" href="/components/footer/footer.css">

<!-- Contenedor principal del pie de página -->
<footer class="footer">
  <!-- Sección del logo de la ULEAM -->
  <div class="footer-logo">
    <img src="/assets/logo_uleam_full.png" alt="Logo de la ULEAM">
  </div>

  <!-- Información de contacto y dirección -->
  <div class="footer-info">
    <h2>Av. Circunvalación, Vía San Mateo</h2>
    <a href="mailto:incidencias.diit@uleam.edu.ec"><strong>Correo electrónico:</strong>
      incidencias.diit@uleam.edu.ec</a>
  </div>
</footer>